.main {
  margin-top: 1em;
  display: flex;
  flex-flow: column nowrap;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  gap: 1em;
}

.choice {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;
  gap: 1em;
}
