.main {
  display: contents;

  .span:hover {
    color: hsla(235, 100%, 50%, 0.5);
    cursor: pointer;
  }
}

.main > * {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
}

.main textarea {
  border: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  resize: none;
  outline: none;
  background-color: hsla(235, 100%, 50%, 0.125);
}

.edited {
  color: orange;
}
