.main {
  padding: 0.25em;
  margin: 0.5em;
  border: 1px solid black;
  border-radius: 2em;
}

.minWidth {
  min-width: 600px;
}

.main > section > header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.question {
  color: blue;
  margin-bottom: 0.5em;
}

.answer {
  color: green;
}

.question,
.answer {
  text-align: center;
  &:hover {
    color: hsl(24, 70%, 50%);
    cursor: pointer;
  }
}

.actionBlock {
  display: flex;
  justify-content: right;
  margin: 0 1em;
  margin-bottom: 0.25em;

  & > * {
    padding: 0.25em 0.5em;
  }

  .removeButton {
    color: red;

    &:hover {
      color: blue;
      cursor: pointer;
    }
  }
}
